@model ProjectFinal.Models.UserModel

<div>
    <h4>Welcome @Html.DisplayFor(model => model.Username)</h4>
    <p>Let's Get Started!</p>
    
    <a asp-controller="Class" asp-action="Index" class="btn btn-primary" style="margin: 20px;">Let's Go</a>
</div>
