@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Let's Play A Game</h1>
    <p>The lack of understanding of how important passwords are is stiffling! <br />
        In this lesson, I provide 5 easily guessed usernames and passwords for you to learn how <br />
        to make better passwords for yourself.</p>
    <a class="btn btn-primary" asp-controller="Login" asp-action="Index">Let's Play</a>

</div>

