@{
    ViewData["Title"] = "Learn More";
}

<h2>Let's review some rules you should follow</h2>
<hr />

<h4>Passphrases are King in this game</h4>
<p>
    You should consider using passphrases as passwords since they are not easily <br />
    guessed or known by hackers. Think of something like CoffeeAllDay or ImAlwaysTired.
</p>

<br />

<h4>If You Post About It Alot, It's Not A Good Password</h4>
<p>
    Hackers are on social media too! <br />
    If you post about fluffy all the time on your socials, a hacker will use that as a possible password.
</p>

<br />

<h4>Symbols that look like letters are great</h4>
<p>
    Notice how the at sign looks like an a or the combo of < and 3 looks like a heart? <br />
    With the combination of letters and symbols, you can make your passwords that much harder to guess. 
</p>